.product-cards-container{
  grid-row: auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 930px;
  margin: 0 auto;
}

.bitcoin-img-container{
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    width:100%;
    min-width: 930px;
    height: 100vh;
    min-height: 800px;
   }

 .Know{
      display: flex;
       justify-content: center;
       margin: 0 auto;
       font-size: 34px;
   }